@model List<Product>

@{
    ViewData["Title"] = "Home Page";
    ViewData["HomePage"] = true;
}

<div style="background-color: #08618d;">
   

    <div class="container text-white py-5">
        <div class="row align-items-center g-1">
            <div class="col-md-6 ">
                <h1 class="mb-5 display-2"><strong> Mejor tienda de Electronica</strong> </h1>
                <p>
                    Encuentra la secion de lo mas nuevo en dispositivos de elctornica lo mas popular
                    y con los mejores precios
                </p>
            </div>
            <div class="col-md-6 text-center">

                <img src="/img/laptopata3.png" class="img-fluid" alt="laptopata" />
            </div>

        </div>

    </div>

</div>

<div class="bg-light">

       <div class="container py-4">
        <h2 class="pb-4 text-center"> Productos Recientes</h2>
         
           <div class="row mb-5 g-3">
             @foreach(var product in Model)
             {
                <div class="col-lg-3 col-md-6">
                    <div class="rounded border ">
                        <img src="/img/@product.ImageFileName" class="img-fluid" alt="..." style=" height:280px; object-fit:contain" />
                        <hr />
                        <h5 class="py-2">@product.Name</h5>
                         <p>
                            Brand:@product.Brand, Category: @product.Category
                        </p>
                        <h4 class="mb-3">@(product.Price)$</h4>
                          
                                <a class="btn btn-primary btn-sm mb-2"  asp-controller   ="Store" asp-action="Details" asp-route-id="@product.Id"  role="button">Details</a>
                        <button type="button" class="btn btn-warning btn-sm mb-2" onclick="addToCarts(this,@product.Id)">
                            add to Cart <i class="bi bi-cart4"></i>
                        </button>
                    </div>
                  </div>
               }

         </div>

       </div>             
 </div>

